<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bounce pace progress -->
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css"/>
    <link rel="stylesheet" href="css/bounce.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script>
      window.paceOptions ={
        checkInterval: 100,
          elements: {
          checkInterval: 100,
          selectors: ['span']
        }
      }
    </script>
    
    <title>Chat</title>
</head>
<body>
